/**** COMPARISON GROUP ****/

.ips-comparison-group .ips-items-group{
  justify-content: center;
  align-items: center;
}

  .ips-comparison-group .ips-items-group .ips-image-text{
    width: auto;
    flex: 0 0 100%;
  }

  @media screen and (min-width: 700px){
    .ips-comparison-group .ips-items-group .ips-comparison-item{
      flex: 0 0 50%;
    }
  }

  @media screen and (min-width: 950px){
    .ips-comparison-group .ips-items-group .ips-comparison-item{
      flex: 0 0 30%;
    }
  }