/***** PRODUCT LIST *****/
.ips-product-list .ips-items-group{  
  justify-content: center;
  align-items: stretch;
}

  .ips-items-group .ips-product-item{
    flex: 100%;
    padding: 20px;
  }

  .ips-items-group .ips-product-item img{
    height: 80%;
  }

    .ips-product-item .ips-product-details{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 5px 10px;
    }

      .ips-product-item .ips-product-details h3{
        flex: 0 0 100%;
      }

      .ips-product-item .ips-product-details .ips-price .ips-price-before{
        color: var(--clr-grey-4);
        text-decoration: line-through;
      }

    .ips-product-item .ips-product-details .ips-price-actual{
      font-weight: bold;
    }

  @media screen and (min-width: 700px){
    .ips-items-group .ips-product-item{
      flex: 0 0 50%;
    }
  }

  @media screen and (min-width: 900px){
    .ips-items-group .ips-product-item{
      flex: 0 0 30%;
    }
  }

  @media screen and (min-width: 1100px){
    .ips-items-group .ips-product-item{
      flex: 0 0 25%;
    }
  }