/***** TEXT & IMAGE *****/

.ips-block.center[section="{section}"][block="{block}"] .ips-image-text{
  flex-direction: column !important;
}

.ips-block.right[section="{section}"][block="{block}"] .ips-image-text{
 flex-direction: row !important;
}

.ips-block.left[section="{section}"][block="{block}"] .ips-image-text{
  flex-direction: row-reverse !important;
}

.ips-block.right[section="{section}"][block="{block}"] .ips-image-text > *,
.ips-block.left[section="{section}"][block="{block}"] .ips-image-text > *{
  flex: 50% !important;
}

.ips-block.right[section="{section}"][block="{block}"] .ips-image-text .ips-image img,
.ips-block.left[section="{section}"][block="{block}"] .ips-image-text .ips-image img{
  width: 100% !important;
}

.ips-block[section="{section}"][block="{block}"] .ips-btn{
  background: btn-color;
}
