/***** SIMPLE TEXT ******/

.ips-simple-text{
  display: flex;
  justify-content: center;
  background-color: var(--clr-light-4);
}

  @media screen and (min-width: 600px){
    .ips-simple-text .ips-text .ips-content{
      width: 80%;
    }
  }

  @media screen and (min-width: 900px){
    .ips-simple-text .ips-text .ips-content{
      width: 70%;
    }
  }