/***** SIMPLE TEXT ******/

.ips-simple-text{
  display: flex;
  justify-content: center;
  background-color: var(--clr-light-4);
}

  .ips-simple-text .ips-text[min-width~="600px"] .ips-content{
    width: 80%;
  }

  .ips-simple-text .ips-text[min-width~="900px"] .ips-content{
    width: 70%;
  }